* {
    margin: 0;
    padding: 0;
}

body {
    background:#223;
    font-family: 'Times New Roman', Times, serif;  
    color: white; 
}

.header__h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 3em;
    margin: .5em;
}

.main__subtitle {
    text-decoration: underline;
    font-size: 2em;
    margin: .5em;
    margin-left: 1em;
}

.main__paragraph {
    font-size: 1em;
    margin: .5em;
    margin-left: 2em;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li {
    margin: auto;
}

.links {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.images {
    width: 40%;
    height: 40%;
    margin: 3em;
    display: block;
}

.main__section {
    display: flex;
    justify-content: center;
}

.section {
    background: #0004;
    max-width: 90%;
    border-radius: 1em;
}